.projects {
  padding: 100px 10%;
  background: #111827;
  color: white;
}

.projects h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 50px;
  color: #38bdf8;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 30px;
}

.project-card {
  background: #1f2937;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-content {
  padding: 25px;
}

.project-content h3 {
  margin-bottom: 15px;
  color: #38bdf8;
}

.project-content p {
  color: #d1d5db;
  line-height: 1.6;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.tech-stack span {
  background: #38bdf8;
  color: black;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  background: #38bdf8;
  color: black;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.buttons a:hover {
  background: white;
}