.theme-btn{

position:fixed;

left:25px;

bottom:25px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#38bdf8;

color:white;

font-size:22px;

cursor:pointer;

z-index:1000;
}

body.light{

background:white;

color:#111827;
}

body.dark{

background:#111827;

color:white;
}